@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>Aplicacion de Mantenimiento de Cine</h3>

<h1> Juan Daniel Escobar Rivera 00138218</h1>
<h2> Tarea 2 N Capas</h2>
<h2> Catedratico: Miguel Loarca</h2>